<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css"
	href="/css/ui.jqgrid.css" />
<script src="/js/grid.locale-en.js"
	type="text/javascript"></script>		
<script src="/js/jquery.jqGrid.min.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		jQuery("#jQGridDemo").jqGrid({
			url : '/getTableData',
			datatype : "json",
			colNames : [ 'username', 'Mobile'],
			colModel : [ {
				name : 'username',
				index : 'uname',
				width : 200,
				stype : 'text',
				editable : true
			}, {
				name : 'Mobile',
				index : 'mobile',
				width : 200,
				editable : true
			}],
			jsonReader : {
				repeatitems : false,
				root : "lines"
			},
			loadonce: true,
			rowNum : 5,
			pager : 'jQGridDemoPager',
			sortname : 'Id',
			'cellEdit' : true,
			viewrecords : true,
			sortorder : "desc",
			caption : "List Employee Details"
		});
		$('#jQGridDemo').jqGrid('navGrid', '#jQGridDemoPager', {
			edit : false,
			add : false,
			del : false
		});
		$('#jQGridDemo').jqGrid('inlineNav', '#jQGridDemoPager', {
			add : true,
			save : true,
			saveicon : "ui-icon-disk"
		});
	});
</script>
</head>
<body>
	<table id="jQGridDemo"></table>
	<div id="jQGridDemoPager"></div>
</body>
</html>