<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" media="screen"
	href="/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css"
	href="/css/ui.jqgrid.css" />
<script src="/js/grid.locale-en.js"
	type="text/javascript"></script>		
<script src="/js/jquery.jqGrid.min.js"
	type="text/javascript"></script>
<script type="text/javascript">
	$(document).ready(function() {
		
		jQuery("#jQGridDemo").jqGrid({
			
			url : '/getTableData',
			datatype : "json",
			colNames : [ 'id','username', 'Mobile','Actions'],
			colModel : [ 
						{
							name : 'id',
							index : 'id',
							width : 200,
						 	editable : true,
							hidden: true
						},{
							name : 'username',
							index : 'uname',
							width : 200,
							stype : 'text',
							editable : true
						},{
							name : 'Mobile',
							index : 'mobile',
							width : 200,
							editable : true
						},{
		            		name: 'actions',
		            		index: 'actions',
		            		width: 200,
		            		formatter:'actions',
		                	formatoptions: {keys: true, editbutton:false,delbutton:true,
		                	delOptions: {
		                        url: "/Delete"
		                    }
											} 	
						}
						],
				jsonReader : {
				repeatitems : false,
				root : "lines"
			},
			loadonce: true,
			rowNum : 5,
			pager : 'jQGridDemoPager',
			sortname : 'Id',
			/* 'cellEdit' : true, */
			viewrecords : true,
			sortorder : "desc",
			/* caption : "List Employee Details", */
			editurl:"/add",
			ondblClickRow: function(id,ri,ci) {
				
				$("#jQGridDemo").jqGrid('editRow',id,true,null,function (val) {
				
					if (val.responseText != "") {
						  $("#userGrid").trigger("reloadGrid", [{ current: true}]);
							return true;
					}
				  
				},'/edit');  
			}	  
		});
		
		$('#jQGridDemo').jqGrid('navGrid', '#jQGridDemoPager', {
			edit : false,
			add : false,
			del : false,
			search:false,
			refresh:false
		});
			
		$('#jQGridDemo').jqGrid('inlineNav', '#jQGridDemoPager', {
			add : true,
			addicon : "ui-icon-plus",
			edit: false,
			/* width : 1000, */
		 	addParams: {
				useDefValues: true,
			 	addRowParams: {
						keys: true,
						extraParams: {}
				}	
			}, 
			save : false
		});
	});
</script>
</head>
<body>
	<table id="jQGridDemo"></table>
	<div id="jQGridDemoPager"></div>
</body>
</html>